<div class="myfooter bg-black d-flex p-5 gap-5 justify-content-center">
    <div class="col-12 col-md-2">
        <h1>Contact Us</h1>
        <p>Add: xyz colony </p>
        <p>Email: xyz@gmail.com </p>
        <p>Phone: 696496468336</p>
    </div>
    <div class="col-12 col-md-1">
        <h1>Link</h1>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'gallery' %}">Gallery</a>
        <a href="{% url 'amenities' %}">Amenities</a>
        <a href="{% url 'rooms' %}">Rooms</a>
        <a href="{% url 'contact' %}">Contact</a>
    </div>
    <div class="col-12 col-md-3">
        <h1>Hours</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptas mollitia nulla obcaecati exercitationem necessitatibus, iusto, ipsum cumque iure labore quis. Quo consequatur voluptas molestias temporibus dolorum. Alias, dolorem ipsum.</p>
        <p>Mon - Sun: 24 Hours</p>
    </div>
    <div class="col-12 col-md-3">
        <h1>Newsletter</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem asperiores quod minima tempore.</p>
    </div>
</div>